In [1]:
import pandas as pd
import re
from datetime import datetime
from matplotlib import pyplot as plt

In [2]:
news = pd.read_csv('news_data.csv')

In [3]:
news.head()

,name,url,class,article
0,CIA exposed by frontline role along Afghanista...,https://www.theguardian.com/world/2010/jan/01/...,world,The suicide bombing of CIA base in remote moun...
1,Iraq threatens action after Blackwater case co...,https://www.theguardian.com/world/2010/jan/01/...,world,Iraqi officials and relatives of Iraqis who w...
2,Racial or religious groups could be picked out...,https://www.theguardian.com/world/2010/jan/01/...,world,The government could allow hi tech security se...
3,US general British hostage held in Iran,https://www.theguardian.com/world/2010/jan/01/...,world,US intelligence is convinced that Peter Moore ...
4,Pakistan suicide bomber kills dozens at volley...,https://www.theguardian.com/world/2010/jan/01/...,world,Pakistan today suffered one of its deadliest a...

In [4]:
news.shape

(401441, 4)

In [5]:
news = news.drop('article', 1)

In [6]:
news.head()

,name,url,class
0,CIA exposed by frontline role along Afghanista...,https://www.theguardian.com/world/2010/jan/01/...,world
1,Iraq threatens action after Blackwater case co...,https://www.theguardian.com/world/2010/jan/01/...,world
2,Racial or religious groups could be picked out...,https://www.theguardian.com/world/2010/jan/01/...,world
3,US general British hostage held in Iran,https://www.theguardian.com/world/2010/jan/01/...,world
4,Pakistan suicide bomber kills dozens at volley...,https://www.theguardian.com/world/2010/jan/01/...,world

In [7]:
# plt.figure()
# news['class'].diff().jist()

In [8]:
news = news.loc[news['class'].isin(['world', 'politics', 'business'])]

In [9]:
news['url'][401311]

'https://www.theguardian.com/business/marketforceslive/2016/dec/30/ftse-slips-from-record-close-while-icap-and-tullet-complete-deal'

In [10]:
pattern = '\d{4}/([a-z]+)/\d{2}'
match = re.search(pattern, 'https://www.theguardian.com/business/marketforceslive/2016/dec/30/')
datetime.strptime(match.group(), '%Y/%b/%d').timestamp()

1483027200.0

In [11]:
def get_date(url):
    pattern = '\d{4}/([a-z]+)/\d{2}'
    match = re.search(pattern, url)
    if match == None:
        return None
    #date = match.group()
    #datetime.strptime(match.group(), '%Y/%b/%d').timestamp()
    return match.group()

In [12]:
news['date'] = news['url'].apply(get_date)

In [13]:
news.head()

,name,url,class,date
0,CIA exposed by frontline role along Afghanista...,https://www.theguardian.com/world/2010/jan/01/...,world,2010/jan/01
1,Iraq threatens action after Blackwater case co...,https://www.theguardian.com/world/2010/jan/01/...,world,2010/jan/01
2,Racial or religious groups could be picked out...,https://www.theguardian.com/world/2010/jan/01/...,world,2010/jan/01
3,US general British hostage held in Iran,https://www.theguardian.com/world/2010/jan/01/...,world,2010/jan/01
4,Pakistan suicide bomber kills dozens at volley...,https://www.theguardian.com/world/2010/jan/01/...,world,2010/jan/01

In [14]:
news = news.drop('url', 1)

In [15]:
news

,name,class,date
0,CIA exposed by frontline role along Afghanista...,world,2010/jan/01
1,Iraq threatens action after Blackwater case co...,world,2010/jan/01
2,Racial or religious groups could be picked out...,world,2010/jan/01
3,US general British hostage held in Iran,world,2010/jan/01
4,Pakistan suicide bomber kills dozens at volley...,world,2010/jan/01
5,years after winter of terror Alpine resorts ...,world,2010/jan/01
6,David Petraeus says hostage Peter Moore was c...,world,2010/jan/01
7,Iran opposition leader Mousavi ready to die ...,world,2010/jan/01
8,Irish atheists challenge new blasphemy laws,world,2010/jan/01
9,Russia raises price of vodka to combat alcoholism,world,2010/jan/01
10,Pope puts children at the heart of new year me...,world,2010/jan/01
11,Hong Kong demonstrators urge full democracy,world,2010/jan/01
12,Married Malawian gay couple face test to prove...,world,2010/jan/01
13,North Korea calls for end to hostile relations...,world,2010/jan/01
14,Freed hostage Peter Moore expected back in UK ...,world,2010/jan/01
15,Brown orders review into airport security,world,2010/jan/01
16,Cardinal Cahal Daly obituary,world,2010/jan/01
17,Cardinal Cahal Daly former leader of Ireland ...,world,2010/jan/01
18,Vanunu courage,world,2010/jan/01
19,Figuring out the future for the decade ahead,world,2010/jan/01
20,Andrew Mitchell outlines Tory plans for targe...,politics,2010/jan/01
21,From the archive The greatest lesson of the p...,politics,2010/jan/01
63,Green technology to be used by top firms to ov...,business,2010/jan/01
64,Christmas spending up on thanks to last minut...,business,2010/jan/01
65,US bails out General Motors related company GM...,business,2010/jan/01
67,Scotch whisky makers show spirit of survival d...,business,2010/jan/01
68,Peter Pan magic defies recession for Three Six...,business,2010/jan/01
69,Private sector pensions suffer worst year ever,business,2010/jan/01
70,Mobile phones changed society not just commun...,business,2010/jan/01
71,Government must green economy and create jobs...,business,2010/jan/01
...,...,...,...
401307,A tumultuous year the global economy in charts,business,2016/dec/30
401308,FTSE ends at all time high after surge in d...,business,2016/dec/30
401309,KitKat maker gives three fingers the thumbs down,business,2016/dec/30
401310,Southern rail passengers face new year disrupt...,business,2016/dec/30
401311,FTSE slips from record close while Icap and T...,business,2016/dec/30
401312,RBS investors call for governance changes to i...,business,2016/dec/30
401313,Iain Wright the MP bringing Mike Ashley and S...,business,2016/dec/30
401338,DRC parties reach deal denying third term for ...,world,2016/dec/31
401339,Texas federal judge halts Obama protection of ...,world,2016/dec/31
401340,Displaced faces of some of the world million...,world,2016/dec/31
401341,UN welcomes Syria ceasefire against backdrop o...,world,2016/dec/31
401342,UN council welcomes Syria ceasefire move by Ru...,world,2016/dec/31
401343,UK companies linked to Azerbaijan pipeline br...,world,2016/dec/31
401344,Baghdad market bombings kill dozens,world,2016/dec/31
401345,It a miracle from begging in Paris to bestsel...,world,2016/dec/31
401346,Venezuela frees politician and student activis...,world,2016/dec/31
401347,Wall Street Journal reporter was held for thre...,world,2016/dec/31
401348,China clamps down on corrupt officials with ...,world,2016/dec/31
401349,Can Latin America avoid the global vortex in,world,2016/dec/31
401350,Brexit vote sparks rush of British Jews seekin...,world,2016/dec/31
401351,Allow married Catholic priests to halt decline...,world,2016/dec/31
401352,South Korea pulls website mapping women of pri...,world,2016/dec/31
401353,Pilot accused of being drunk after video shows...,world,2016/dec/31
401354,Merkel says Germany is stronger than terroris...,world,2016/dec/31
401355,Theresa May new year message ll fight remaine...,politics,2016/dec/31
401356,Donald Trump victory sparks global women right...,politics,2016/dec/31
401399,Qantas hundreds of passengers stranded in Dub...,business,2016/dec/31
401400,How attempts to save BHS and jobs were do...,business,2016/dec/31
401401,Sterling slide winners and losers in,business,2016/dec/31
401402,English sparkling wine industry toasts export ...,business,2016/dec/31

In [16]:
news.shape

(144341, 3)

In [17]:
news = news.dropna()

In [18]:
news.shape

(143784, 3)

In [19]:
news['name'] = news['name'].apply(lambda name: name.lower())

/usr/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
news.head()

                                                name  class         date
0  cia exposed by frontline role along afghanista...  world  2010/jan/01
1  iraq threatens action after blackwater case co...  world  2010/jan/01
2  racial or religious groups could be picked out...  world  2010/jan/01
3           us general  british hostage held in iran  world  2010/jan/01
4  pakistan suicide bomber kills dozens at volley...  world  2010/jan/01

In [21]:
news = news.drop('class', 1)

In [22]:
news['date'] = news['date'].astype('category')

In [23]:
news = news.groupby('date', as_index=False).agg(lambda name: ' '.join(name))

In [24]:
news.head()

          date                                               name
0  2000/jul/01  the guardian instagrams the  state of the unio...
1  2007/apr/12                                        stagflation
2  2008/oct/09               capital ratios tier one and tier two
3  2009/jul/30                                 timeline  iraq
4  2009/mar/12     timeline  key dates in the bernard madoff case

In [25]:
news = news[news['date'].str.contains("2010|2011|2012|2013|2014|2015|2016")]

In [26]:
news['timestamp'] = news['date'].apply(lambda date: int(datetime.strptime(date, '%Y/%b/%d').timestamp()))

In [27]:
news = news.sort(columns=['timestamp'])
news = news.reset_index(drop=True)

/usr/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

In [28]:
news.head()

          date                                               name   timestamp
0  2010/apr/01  the hidden costs of not being in the euro saak...  1270051200
1  2010/apr/02  lawyer urges saudi king to spare psychic diary...  1270137600
2  2010/apr/03  criticism does not exclude muslims from the po...  1270224000
3  2010/apr/04  white supremacist eugene terre blanche is hack...  1270310400
4  2010/apr/05  man says daughter was moscow bomber nine miner...  1270396800

In [29]:
news.to_csv('news.csv', index=False)

In [30]:
news = pd.read_csv('news.csv')
news = news.sort_values(by=['timestamp'], ascending=1)
currency = pd.read_csv('currency.csv')
news = pd.merge(news, currency, on='timestamp', how='inner')
news.drop(['date', 'timestamp'], inplace=True, axis=1)
news.to_csv('data.csv', index=False)