In [1]:
from sqlalchemy import create_engine
import pandas as pd
import MySQLdb

In [2]:
output = pd.read_pickle('output.pkl') #'output_2017.pkl'
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred
0,1263225600,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0
1,1264003200,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1
2,1265817600,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0
3,1267718400,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1
4,1268323200,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0

In [3]:
engine = create_engine("mysql+mysqldb://news:"+'newsnews'+"@54.65.19.253/news")
conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')

In [4]:
output.to_sql(con=engine, name='trump_pred', if_exists='replace', index=False) #replace