In [39]:
from sqlalchemy import create_engine
import pandas as pd
import MySQLdb
import numpy as np
from datetime import datetime

In [40]:
output = pd.read_pickle('output.pkl') #'output_2017.pkl'
output['correct'] = output['usdx_gradient_binary_pred'] == output['usdx_gradient_binary'] 
output['weekday'] = output['timestamp'].apply(lambda x: datetime.fromtimestamp(int(x)).weekday()) 
output['timestamp'] = output['timestamp'].apply(lambda x: datetime.fromtimestamp(int(x))) 
# output.columns = ['timestamp', 'tweet', 'usdx', 
#                   'usdx_gradient', 'usdx_gradient_binary', 
#                   'usdx_gradient_binary_pred','correct','weekday']
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred,correct,weekday
0,2010-01-12,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0,False,1
1,2010-01-21,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1,True,3
2,2010-02-11,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0,True,3
3,2010-03-05,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1,False,4
4,2010-03-12,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0,True,4

In [41]:
g = output['usdx_gradient_binary'].as_matrix()
c = output['correct'].as_matrix()

In [42]:
usdx_gradient = output['usdx_gradient'].as_matrix()
temp = np.zeros(1552)
index = np.logical_and(g, c)
temp[index] = usdx_gradient[index]
output['usdx_gradient_up_correct'] = temp
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred,correct,weekday,usdx_gradient_up_correct
0,2010-01-12,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0,False,1,0.00000
1,2010-01-21,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1,True,3,0.13415
2,2010-02-11,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0,True,3,0.00000
3,2010-03-05,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1,False,4,0.00000
4,2010-03-12,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0,True,4,0.00000

In [43]:
usdx_gradient = output['usdx_gradient'].as_matrix()
temp = np.zeros(1552)
index = np.logical_and(g, np.logical_not(c))
temp[index] = usdx_gradient[index]
output['usdx_gradient_up_error'] = temp
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred,correct,weekday,usdx_gradient_up_correct,usdx_gradient_up_error
0,2010-01-12,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0,False,1,0.00000,0.20705
1,2010-01-21,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1,True,3,0.13415,0.00000
2,2010-02-11,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0,True,3,0.00000,0.00000
3,2010-03-05,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1,False,4,0.00000,0.00000
4,2010-03-12,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0,True,4,0.00000,0.00000

In [44]:
usdx_gradient = output['usdx_gradient'].as_matrix()
temp = np.zeros(1552)
index = np.logical_and(np.logical_not(g), c)
temp[index] = usdx_gradient[index]
output['usdx_gradient_down_correct'] = temp
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred,correct,weekday,usdx_gradient_up_correct,usdx_gradient_up_error,usdx_gradient_down_correct
0,2010-01-12,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0,False,1,0.00000,0.20705,0.00000
1,2010-01-21,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1,True,3,0.13415,0.00000,0.00000
2,2010-02-11,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0,True,3,0.00000,0.00000,-0.09450
3,2010-03-05,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1,False,4,0.00000,0.00000,0.00000
4,2010-03-12,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0,True,4,0.00000,0.00000,-0.04325

In [45]:
usdx_gradient = output['usdx_gradient'].as_matrix()
temp = np.zeros(1552)
index = np.logical_and(np.logical_not(g), np.logical_not(c))
temp[index] = usdx_gradient[index]
output['usdx_gradient_down_error'] = temp
output.head()

,timestamp,tweet,usdx,usdx_gradient,usdx_gradient_binary,usdx_gradient_binary_pred,correct,weekday,usdx_gradient_up_correct,usdx_gradient_up_error,usdx_gradient_down_correct,usdx_gradient_down_error
0,2010-01-12,"Celebrity Apprentice returns to NBC, Sunday, 3...",100.7315,0.20705,1,0,False,1,0.00000,0.20705,0.00000,0.00000
1,2010-01-21,"from Donald Trump: ""I saw Lady Gaga last night...",101.6901,0.13415,1,1,True,3,0.13415,0.00000,0.00000,0.00000
2,2010-02-11,Donald Trump appeared on the final episode of ...,103.0298,-0.09450,0,0,True,3,0.00000,0.00000,-0.09450,0.00000
3,2010-03-05,From Donald Trump: Andrea Bocelli @ Mar-a-Lago...,102.1641,-0.08555,0,1,False,4,0.00000,0.00000,0.00000,-0.08555
4,2010-03-12,The Celebrity Apprentice has a two-hour premie...,101.5599,-0.04325,0,0,True,4,0.00000,0.00000,-0.04325,0.00000

In [46]:
engine = create_engine("mysql+mysqldb://news:"+'newsnews'+"@54.65.19.253/news")
conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')

In [47]:
output.to_sql(con=engine, name='trump_pred_for_show', if_exists='replace', index=False) #replace